{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <title>Calman</title>
</head>
<body>
    <div class="container mt-5 pt-5">
        <h1>Calman's Accordion</h1>
        <div class="accor-sec-0 accordion">
            <div class="accor-heads d-flex col-12 justify-content-between">
                <h3>Intro</h3>
                <div class="accor-button">
                    <button class="up btn btn-dark">Up</button>
                    <button class="down btn btn-light">Down</button>
                </div>
            </div>
            <div class="accor-content accor-content0">
                <p>Salman adalah anak csui yang berbahagia</p>
            </div>
        </div>
        <div class="accor-sec-1 accordion">
            <div class="accor-heads d-flex col-12 justify-content-between">
                <h3>Aktivitas</h3>
                <div class="accor-button">
                    <button class="up btn btn-dark">Up</button>
                    <button class="down btn btn-light">Down</button>
                </div>
            </div>
            <div class="accor-content accor-content1">
                <p>Pandemi membuat saya tidur-tiduran saja</p>
            </div>

        </div>
        <div class="accor-sec-2 accordion">
            <div class="accor-heads d-flex col-12 justify-content-between">
                <h3>Prestasi</h3>
                <div class="accor-button">
                    <button name="testup" class="up btn btn-dark">Up</button>
                    <button name="testdown" class="down btn btn-light">Down</button>
                </div>
            </div>
            <div class="accor-content accor-content2">
                <p>Juara 1 diam dirumah</p>
            </div>

        </div>
        <div class="accor-sec-3 accordion">
            <div class="accor-heads d-flex col-12 justify-content-between">
                <h3>Pengalaman Organisasi</h3>
                <div class="accor-button">
                    <button class="up btn btn-dark">Up</button>
                    <button class="down btn btn-light">Down</button>
                </div>
            </div>
            <div class="accor-content accor-content3">
                <p>ditolak pengmas :(</p>
            </div>
        </div>
        <div class="tema d-flex justify-content-center">
            <button class="themee btn btn-light">Do Something</button>
        </div>
    </div>
    <script src= "{% static 'js/scripts.js' %}"></script>
</body>
</html>