html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #30475E;
}
.container {
    justify-content: space-between;
}
.accor-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: none;
}

.accordion {
    text-align: center;
    border-radius: 25px;
    background-color: #85a392;
    margin: 5px;
    transition: 0.5s ease-out;
}

.accordion:hover {
    opacity: 1;
    cursor: default;
    background-color: white;
    color: black;
}

.activeAccor {
    background-color: #202040;
    color: white;
}
.accor-content.active {
    background-color:#85a392;
    border-radius: 25px;
    display: block;
    max-height: fit-content;
}

.accor-sec-0 {
    order : 0;
}
.accor-sec-1 {
    order : 1;
}
.accor-sec-2 {
    order : 2;
}
.accor-sec-3 {
    order : 3;
}